<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://csharpemotions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>csharpemotions.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>csharpemotions</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$csharpemotions</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EmotionPlatziAzure" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:escobardbsrv.database.windows.net,1433;Initial Catalog=platzi-emotion;Persist Security Info=False;User ID=escobardb;Password=C0ntr4s3;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:escobardbsrv.database.windows.net,1433;Initial Catalog=platzi-emotion;Persist Security Info=False;User ID=escobardb;Password=C0ntr4s3;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EmotionPlatzi.Web.Models.EmotionPlatziWebContext, EmotionPlatzi.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EmotionPlatziWebContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:escobardbsrv.database.windows.net,1433;Initial Catalog=platzi-emotion;Persist Security Info=False;User ID=escobardb;Password=C0ntr4s3;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:escobardbsrv.database.windows.net,1433;Initial Catalog=platzi-emotion;Persist Security Info=False;User ID=escobardb;Password=C0ntr4s3;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|EmotionPlatziWebContext-20170123104310.mdf;Initial Catalog=EmotionPlatziWebContext-20170123104310;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EmotionPlatziWebContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=EmotionPlatziWebContext-20170123104310; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|EmotionPlatziWebContext-20170123104310.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EmotionPlatziAzure-Web.config Connection String">
      <ParameterValue>Data Source=tcp:escobardbsrv.database.windows.net,1433;Initial Catalog=platzi-emotion;Persist Security Info=False;User ID=escobardb;Password=C0ntr4s3;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EmotionPlatziWebContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:escobardbsrv.database.windows.net,1433;Initial Catalog=platzi-emotion;Persist Security Info=False;User ID=escobardb;Password=C0ntr4s3;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>